<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <div class="pb-2">
                <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
                    <img alt="Footer logo" src="{{ .Site.Params.navbar.brandLogo | default .Site.Params.favicon }}"
                        height="40px" width="40px">
                </a>
            </div>

            {{ if .Site.Params.footer.copyright }}
            &copy; {{ .Site.Params.footer.copyright }} <br>
            {{ end }}

            {{ if .Site.Params.footer.updateDateFormat }}
            Updated: {{ now.Format (.Site.Params.footer.updateDateFormat) }}
            {{ end }}

            {{ if .Site.Params.footer.by }}
            <div class="text-secondary">
                Made with
                <span class="text-danger"> &#10084; </span>
                by {{ .Site.Params.footer.by }}
            </div>
            {{ end }}
        </div>
    </div>
</div>